In [304]:
import pandas as pd
import numpy as np

In [305]:
df = pd.read_csv('contact_list .csv')

In [306]:
#this is done to avoid seeing the scientific number notation. 
pd.set_option('display.float_format', lambda x: '%.f' % x)

In [307]:
#By reviewing the data it is interesting to spot that the address line 74 House Place occurs twice under different suburbs and 
#postcodes. This means that one or both of the address lines are incorrect, so it would be important to confirm this with business.
df.head(15)

,Business,Title,First Name,Last Name,Date Of Birth,Address Line 1,Address Line 2,Suburb,City,Post Code,Home Number,Fax Number,Work Number,Mobile Number,Other Number,Notes
0,ABC Imports,Mr.,John,SMITH,1/13/69,23 Wilson St,NaN,Newton,Auckland,1010,09 559-4886,NaN,NaN,64292267751,nan,"A little bit deaf, speak clearly"
1,NaN,Mr,Carl,Jones,07/09/1988,111 Bakers Ave,NaN,Grey Lynn,Auckland,1012,582-4491,NaN,(09) 382-8858,nan,nan,NaN
2,MT ALBERT PHARMACY,Dr,Jenna,Bates,11/02/1972,49 Hadsfield Cres,NaN,Mt Albert,Auckland,1025,482-6975,482-6976,NaN,256648795,nan,NaN
3,NaN,Ms,lucy,farange,03/08/1983,15a Andrews lane,NaN,Grey Lynn,Auckland,1012,NaN,NaN,6425325474,6425325474,nan,; DROP TABLE `contact`;
4,A.N.Z.A.C Associates,NaN,NaN,NaN,NaN,73 Phillips Road,NaN,mt albert,auckland,1025,555 9462,NaN,NaN,nan,nan,NaN
5,NaN,NaN,Justin,Smith-Wesson,02/02/1995,31 Futures Cres,NaN,Newton,Auckland,1010,NaN,NaN,NaN,2751353288,nan,NaN
6,NaN,Mrs,Sarah,O'malley,3/21/1951,5 Queens Road,NaN,Grey Lynn,Auckland,1012,64245756955,NaN,NaN,64245756955,nan,NaN
7,p.p.p pet product providers,mr,michael,manly,10/01/1970,54 King Street,NaN,Mt Albert,Auckland,1025,NaN,NaN,NaN,nan,nan,Hi vet clinic you are my favourite clinic ðŸ˜Š ki...
8,NaN,NaN,Jason,NaN,5/24/1993,Unit 9,87 Georges Road,Grey Lynn,auckland,1012,(09)5132545,NaN,NaN,nan,nan,NaN
9,NaN,NaN,Albert Grant,NaN,6/27/1986,74 House Place,NaN,mt albert,Auckland,1025,NaN,NaN,2745621568,nan,nan,NaN
10,NaN,NaN,Anna,Grant,10/26/1978,74 House Place,NaN,Newton,Auckland,1010,NaN,NaN,NaN,nan,nan,NaN
11,NaN,NaN,alfred,NaN,12/20/1973,5,Living Road,Grey Lynn,Auckland,1012,NaN,NaN,NaN,nan,nan,NaN
12,Guide Dog Services,NaN,NaN,NaN,NaN,65 Flemming Way,NaN,Mt Albert,auckland,1025,NaN,09-254-1159,09-254-1158,nan,642545678,NaN
13,NaN,NaN,lisa,NaN,8/14/2001,47 Road Road,NaN,Grey Lynn,Auckland,1012,NaN,NaN,NaN,nan,nan,NaN
14,NaN,NaN,Alan,Fields,9/20/1960,NaN,10a fortitude way,mt albert,Auckland,1025,NaN,NaN,NaN,nan,nan,"""CONTACT OWES A LOT OF MONEY! ON A CREDIT STOP..."

In [308]:
#Allows me to see the data types
df.dtypes

Business           object
Title              object
First Name         object
Last Name          object
Date Of Birth      object
Address Line 1     object
Address Line 2     object
Suburb             object
City               object
Post Code           int64
Home Number        object
Fax Number         object
Work Number        object
Mobile Number     float64
Other Number      float64
Notes              object
dtype: object

In [309]:
#This is done to sanitize the data from harmful sql injections.list can be expanded. 
def sanitize_Notes(x):
    sql_injection_list = ['DROP TABLE','INSERT INTO','TRUNCATE TABLE','CREATE USER','DROP USER','GRANT ALL PRIVILEGES']
    for item in sql_injection_list:
        if item in x:
            return float('nan')
        else:
            return x;
        
df['Notes'] = df['Notes'].apply(lambda x:sanitize_Notes(str(x)))

In [341]:
#this is done to ensure that address data is consistent
df['Address Line 1'][14] = df['Address Line 2'][14]
df['Address Line 2'][14] = float('nan')
df['Address Line 1'][11] = df['Address Line 1'][11] + ' ' + df['Address Line 2'][11]
df['Address Line 2'][11] = float('nan')

C:\Users\smald\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\smald\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

TypeError: must be str, not float

In [ ]:
#this is done to keep all phone numbers in the same format. 
def clean_Phone_Numbers(x):
    return str(x).replace(" ", "").replace("-", "").replace("(", "").replace(")", "")

df['Home Number'] = df['Home Number'].apply(lambda x: clean_Phone_Numbers(str(x)))
df['Fax Number'] = df['Fax Number'].apply(lambda x: clean_Phone_Numbers(str(x)))
df['Work Number'] = df['Work Number'].apply(lambda x: clean_Phone_Numbers(str(x)))

In [ ]:
#this is done to keep phone numbers consistent. mobile numbers (prefixed with 64) belong in the mobile columns, removed elsewhere.

In [311]:
#this is done to get all dates in the same format. Note that the infer datetime option is enabled due to inconsistent date formats. 
df['Date Of Birth'] = pd.to_datetime(df['Date Of Birth'],format='%m%d%Y', infer_datetime_format=True)

In [312]:
#this is done to remove trailing full stops and capitalise the title. 
df['Title'] = df['Title'].str.strip('.').str.capitalize()

In [313]:
#this is done to also done to upper case the first letter of the first name. No apostrophe's found here so capitalise can work fine. 
df['First Name'] = df['First Name'].str.capitalize()

In [314]:
#this is done to upper case the first letter even after an apostrophe e.g. O'Malley
df['Last Name'] = df['Last Name'].str.title()

In [315]:
#this is done to upper case the first letter even after a full stop, thus converting acronyms into uppercase. 
df['Business'] = df['Business'].str.title()

In [316]:
#this is done to upper case the first letter of the Suburb
df['Suburb'] = df['Suburb'].str.title()

In [317]:
#this is done to upper case the first letter of the city
df['City'] = df['City'].str.title()

In [339]:
#this is done to ensure all mobile numbers are prefixed with 64 and landline numbers prefixed with 09
def prefix_Phone_Number(prefix_num,x):
    if str(x)[:2] != prefix_num and not pd.isnull(x):
        return prefix_num + str(x).rstrip('0').rstrip('.')
    else :
        return x
    
df['Mobile Number'] = df['Mobile Number'].apply(lambda x : prefix_Phone_Number('64',x))
df['Mobile Number'] = df['Mobile Number'].apply(lambda x : prefix_Phone_Number('64',x))

In [ ]:
df['Home Number'].apply(lambda x: str(x).replace(" ", "").replace("-", "").replace("(", "").replace(")", ""))

In [319]:
df.head(15)

,Business,Title,First Name,Last Name,Date Of Birth,Address Line 1,Address Line 2,Suburb,City,Post Code,Home Number,Fax Number,Work Number,Mobile Number,Other Number,Notes
0,Abc Imports,Mr,John,Smith,1969-01-13,23 Wilson St,NaN,Newton,Auckland,1010,09 559-4886,NaN,NaN,64292267751,nan,"A little bit deaf, speak clearly"
1,NaN,Mr,Carl,Jones,1988-07-09,111 Bakers Ave,NaN,Grey Lynn,Auckland,1012,582-4491,NaN,(09) 382-8858,NaN,nan,nan
2,Mt Albert Pharmacy,Dr,Jenna,Bates,1972-11-02,49 Hadsfield Cres,NaN,Mt Albert,Auckland,1025,482-6975,482-6976,NaN,64256648795,nan,nan
3,NaN,Ms,Lucy,Farange,1983-03-08,15a Andrews lane,NaN,Grey Lynn,Auckland,1012,NaN,NaN,6425325474,6425325474,nan,NaN
4,A.N.Z.A.C Associates,NaN,NaN,NaN,NaT,73 Phillips Road,NaN,Mt Albert,Auckland,1025,555 9462,NaN,NaN,NaN,nan,nan
5,NaN,NaN,Justin,Smith-Wesson,1995-02-02,31 Futures Cres,NaN,Newton,Auckland,1010,NaN,NaN,NaN,642751353288,nan,nan
6,NaN,Mrs,Sarah,O'Malley,1951-03-21,5 Queens Road,NaN,Grey Lynn,Auckland,1012,64245756955,NaN,NaN,64245756955,nan,nan
7,P.P.P Pet Product Providers,Mr,Michael,Manly,1970-10-01,54 King Street,NaN,Mt Albert,Auckland,1025,NaN,NaN,NaN,NaN,nan,Hi vet clinic you are my favourite clinic ðŸ˜Š ki...
8,NaN,NaN,Jason,NaN,1993-05-24,Unit 9,87 Georges Road,Grey Lynn,Auckland,1012,(09)5132545,NaN,NaN,NaN,nan,nan
9,NaN,NaN,Albert grant,NaN,1986-06-27,74 House Place,NaN,Mt Albert,Auckland,1025,NaN,NaN,2745621568,NaN,nan,nan
10,NaN,NaN,Anna,Grant,1978-10-26,74 House Place,NaN,Newton,Auckland,1010,NaN,NaN,NaN,NaN,nan,nan
11,NaN,NaN,Alfred,NaN,1973-12-20,5 Living Road,NaN,Grey Lynn,Auckland,1012,NaN,NaN,NaN,NaN,nan,nan
12,Guide Dog Services,NaN,NaN,NaN,NaT,65 Flemming Way,NaN,Mt Albert,Auckland,1025,NaN,09-254-1159,09-254-1158,NaN,642545678,nan
13,NaN,NaN,Lisa,NaN,2001-08-14,47 Road Road,NaN,Grey Lynn,Auckland,1012,NaN,NaN,NaN,NaN,nan,nan
14,NaN,NaN,Alan,Fields,1960-09-20,10a fortitude way,NaN,Mt Albert,Auckland,1025,NaN,NaN,NaN,NaN,nan,"""CONTACT OWES A LOT OF MONEY! ON A CREDIT STOP..."