In [665]:
import pandas as pd
import numpy as np

In [666]:
df = pd.read_csv('contact_list .csv')

In [667]:
#this is done to avoid seeing the scientific number notation. 
pd.set_option('display.float_format', lambda x: '%.f' % x)

In [669]:
#By reviewing the data it is interesting to spot that the address line 74 House Place occurs twice under different suburbs and 
#postcodes. This means that one or both of the address lines are incorrect, so it would be important to confirm this with business.
#There are also many phone numbers which do not seem to have the right length as most mobile numbers exceed 10 digits and 
# most landline numbers exceed the 9 digits limit. 
df = df.fillna('')
df.head(15)

,Business,Title,First Name,Last Name,Date Of Birth,Address Line 1,Address Line 2,Suburb,City,Post Code,Home Number,Fax Number,Work Number,Mobile Number,Other Number,Notes
0,ABC Imports,Mr.,John,SMITH,1/13/69,23 Wilson St,,Newton,Auckland,1010,09 559-4886,,,64292267751,,"A little bit deaf, speak clearly"
1,,Mr,Carl,Jones,07/09/1988,111 Bakers Ave,,Grey Lynn,Auckland,1012,582-4491,,(09) 382-8858,,,
2,MT ALBERT PHARMACY,Dr,Jenna,Bates,11/02/1972,49 Hadsfield Cres,,Mt Albert,Auckland,1025,482-6975,482-6976,,256648795,,
3,,Ms,lucy,farange,03/08/1983,15a Andrews lane,,Grey Lynn,Auckland,1012,,,6425325474,6425325474,,; DROP TABLE `contact`;
4,A.N.Z.A.C Associates,,,,,73 Phillips Road,,mt albert,auckland,1025,555 9462,,,,,
5,,,Justin,Smith-Wesson,02/02/1995,31 Futures Cres,,Newton,Auckland,1010,,,,2751353288,,
6,,Mrs,Sarah,O'malley,3/21/1951,5 Queens Road,,Grey Lynn,Auckland,1012,64245756955,,,64245756955,,
7,p.p.p pet product providers,mr,michael,manly,10/01/1970,54 King Street,,Mt Albert,Auckland,1025,,,,,,Hi vet clinic you are my favourite clinic ðŸ˜Š ki...
8,,,Jason,,5/24/1993,Unit 9,87 Georges Road,Grey Lynn,auckland,1012,(09)5132545,,,,,
9,,,Albert Grant,,6/27/1986,74 House Place,,mt albert,Auckland,1025,,,2745621568,,,
10,,,Anna,Grant,10/26/1978,74 House Place,,Newton,Auckland,1010,,,,,,
11,,,alfred,,12/20/1973,5,Living Road,Grey Lynn,Auckland,1012,,,,,,
12,Guide Dog Services,,,,,65 Flemming Way,,Mt Albert,auckland,1025,,09-254-1159,09-254-1158,,642545678,
13,,,lisa,,8/14/2001,47 Road Road,,Grey Lynn,Auckland,1012,,,,,,
14,,,Alan,Fields,9/20/1960,,10a fortitude way,mt albert,Auckland,1025,,,,,,"""CONTACT OWES A LOT OF MONEY! ON A CREDIT STOP..."

In [671]:
#This is done to sanitize the data from harmful sql injections.list can be expanded. 
def Sanitize_Notes(x):
    sql_injection_list = ['DROP TABLE','INSERT INTO','TRUNCATE TABLE','CREATE USER','DROP USER','GRANT ALL PRIVILEGES']
    for item in sql_injection_list:
        if item in x:
            return np.nan
        else:
            return x;
        
df['Notes'] = df['Notes'].apply(lambda x:sanitize_Notes(str(x)))

In [672]:
#this is done to ensure that address data is consistent
df['Address Line 1'][14] = df['Address Line 2'][14]
df['Address Line 2'][14] = float('nan')
df['Address Line 1'][11] = df['Address Line 1'][11] + ' ' + df['Address Line 2'][11]
df['Address Line 2'][11] = float('nan')

C:\Users\smald\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\smald\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\smald\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\smald\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [673]:
#this is done to keep all phone numbers in the same format. 
def Clean_Phone_Numbers(x):
    return str(x).replace(" ", "").replace("-", "").replace("(", "").replace(")", "")

df['Home Number'] = df['Home Number'].apply(lambda x: clean_Phone_Numbers(str(x)))
df['Fax Number'] = df['Fax Number'].apply(lambda x: clean_Phone_Numbers(str(x)))
df['Work Number'] = df['Work Number'].apply(lambda x: clean_Phone_Numbers(str(x)))

In [674]:
#this is done to ensure that mobile phones are removed from other columns to ensure consistency. 
def Remove_Phone_From_Mobile(x):
    if x[:2] == '64' and not pd.isnull(x):
        return float('nan')
    else:
        return x
df['Home Number'] = df['Home Number'].apply(lambda x: Remove_Phone_From_Mobile(str(x)))
df['Work Number'] = df['Work Number'].apply(lambda x: Remove_Phone_From_Mobile(str(x)))

In [675]:
#this is done ensure the mobile number in the other column is put into the correct column. 
df['Mobile Number'].iloc[12] = df['Other Number'].iloc[12]
df['Other Number'].iloc[12] = float('nan')

C:\Users\smald\Anaconda3\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [676]:
#this is done to get all dates in the same format. Note that the infer datetime option is enabled due to inconsistent date formats. 
df['Date Of Birth'] = pd.to_datetime(df['Date Of Birth'],format='%m%d%Y', infer_datetime_format=True)

In [677]:
#this is done to remove trailing full stops and capitalise the title. 
df['Title'] = df['Title'].str.strip('.').str.capitalize()

In [678]:
#this is done to also done to upper case the first letter of the first name. No apostrophe's found here so capitalise can work fine. 
df['First Name'] = df['First Name'].str.capitalize()

In [679]:
#this is done to upper case the first letter even after an apostrophe e.g. O'Malley
df['Last Name'] = df['Last Name'].str.title()

In [680]:
#this is done to upper case the first letter even after a full stop, thus converting acronyms into uppercase. 
df['Business'] = df['Business'].str.title()

In [681]:
#this is done to upper case the first letter of the Suburb
df['Suburb'] = df['Suburb'].str.title()

In [682]:
#this is done to upper case the first letter of the city
df['City'] = df['City'].str.title()

In [685]:
#this is done to ensure all mobile numbers are prefixed with 64 and landline numbers prefixed with 09
def Prefix_Phone_Number(prefix_num,x):
    if str(x)[:2] != prefix_num and x != "":
        return prefix_num + str(x).rstrip('0').rstrip('.')
    else :
        return x
    
df['Mobile Number'] = df['Mobile Number'].apply(lambda x : prefix_Phone_Number('64',x))
df['Work Number'] = df['Work Number'].apply(lambda x : prefix_Phone_Number('09',x))
df['Fax Number'] = df['Fax Number'].apply(lambda x : prefix_Phone_Number('09',x))
df['Home Number'] = df['Home Number'].apply(lambda x : prefix_Phone_Number('09',x))

In [686]:
df.head(15)

,Business,Title,First Name,Last Name,Date Of Birth,Address Line 1,Address Line 2,Suburb,City,Post Code,Home Number,Fax Number,Work Number,Mobile Number,Other Number,Notes
0,Abc Imports,Mr,John,Smith,1969-01-13,23 Wilson St,,Newton,Auckland,1010,095594886,09,09,64292267751,,"A little bit deaf, speak clearly"
1,,Mr,Carl,Jones,1988-07-09,111 Bakers Ave,,Grey Lynn,Auckland,1012,095824491,09,093828858,64,,
2,Mt Albert Pharmacy,Dr,Jenna,Bates,1972-11-02,49 Hadsfield Cres,,Mt Albert,Auckland,1025,094826975,094826976,09,64256648795,,
3,,Ms,Lucy,Farange,1983-03-08,15a Andrews lane,,Grey Lynn,Auckland,1012,09,09,NaN,6425325474,,NaN
4,A.N.Z.A.C Associates,,,,NaT,73 Phillips Road,,Mt Albert,Auckland,1025,095559462,09,09,64,,
5,,,Justin,Smith-Wesson,1995-02-02,31 Futures Cres,,Newton,Auckland,1010,09,09,09,642751353288,,
6,,Mrs,Sarah,O'Malley,1951-03-21,5 Queens Road,,Grey Lynn,Auckland,1012,NaN,09,09,64245756955,,
7,P.P.P Pet Product Providers,Mr,Michael,Manly,1970-10-01,54 King Street,,Mt Albert,Auckland,1025,09,09,09,64,,Hi vet clinic you are my favourite clinic ðŸ˜Š ki...
8,,,Jason,,1993-05-24,Unit 9,87 Georges Road,Grey Lynn,Auckland,1012,095132545,09,09,64,,
9,,,Albert grant,,1986-06-27,74 House Place,,Mt Albert,Auckland,1025,09,09,092745621568,64,,
10,,,Anna,Grant,1978-10-26,74 House Place,,Newton,Auckland,1010,09,09,09,64,,
11,,,Alfred,,1973-12-20,5 Living Road,NaN,Grey Lynn,Auckland,1012,09,09,09,64,,
12,Guide Dog Services,,,,NaT,65 Flemming Way,,Mt Albert,Auckland,1025,09,092541159,092541158,642545678,NaN,
13,,,Lisa,,2001-08-14,47 Road Road,,Grey Lynn,Auckland,1012,09,09,09,64,,
14,,,Alan,Fields,1960-09-20,10a fortitude way,NaN,Mt Albert,Auckland,1025,09,09,09,64,,"""CONTACT OWES A LOT OF MONEY! ON A CREDIT STOP..."